In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('AirQualityUCI.xlsx',parse_dates = [['Date','Time']])

In [3]:
data.columns

Index(['Date_Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH'],
      dtype='object')

In [4]:
data = data.set_index('Date_Time')
data.head(2)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date_Time,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.6,48.875001,0.757754
2004-03-10 19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.3,47.700000,0.725487

In [5]:
data.loc[data['CO(GT)'] == -200, 'CO(GT)'] = 2.5
co_data = pd.DataFrame(data['CO(GT)'],columns = ['CO(GT)'])
co_data.head()

                     CO(GT)
Date_Time
2004-03-10 18:00:00     2.6
2004-03-10 19:00:00     2.0
2004-03-10 20:00:00     2.2
2004-03-10 21:00:00     2.2
2004-03-10 22:00:00     1.6

In [6]:
co_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9357 entries, 2004-03-10 18:00:00 to 2005-04-04 14:00:00
Data columns (total 1 columns):
CO(GT)    9357 non-null float64
dtypes: float64(1)
memory usage: 146.2 KB

In [9]:
import statsmodels.api as sm
from statsmodels.tsa.stattools import acovf,acf,pacf,pacf_yw,pacf_ols